In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("Data.csv", low_memory = False)
data

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/17/2018,8:30,QUEENS,11368,40.745060,-73.859220,"(40.74506, -73.85922)",48 AVENUE,104 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4027777,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,12/06/2018,14:00,NaN,NaN,40.545395,-74.165750,"(40.545395, -74.16575)",RICHMOND AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4039430,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,11/26/2018,14:10,BROOKLYN,11226,40.641006,-73.956154,"(40.641006, -73.956154)",NaN,NaN,1204 FLATBUSH AVENUE,...,Unspecified,NaN,NaN,NaN,4033013,Bus,NaN,NaN,NaN,NaN
3,12/08/2018,0:00,MANHATTAN,10003,40.725056,-73.990270,"(40.725056, -73.99027)",NaN,NaN,39 2 AVENUE,...,Unspecified,NaN,NaN,NaN,4040942,Sedan,Ambulance,NaN,NaN,NaN
4,11/17/2018,17:36,MANHATTAN,10026,40.804157,-73.955550,"(40.804157, -73.95555)",NaN,NaN,2142 8 AVENUE,...,Unspecified,NaN,NaN,NaN,4028049,Sedan,Box Truck,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722842,07/01/2012,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2896726,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1722843,07/01/2012,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1722844,07/01/2012,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,245559,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1722845,07/01/2012,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,Unspecified,NaN,NaN,NaN,37635,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1722846,07/01/2012,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219395,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [6]:
crash_dates = data["CRASH DATE"]
crash_dates

0          11/17/2018
1          12/06/2018
2          11/26/2018
3          12/08/2018
4          11/17/2018
              ...
1722842    07/01/2012
1722843    07/01/2012
1722844    07/01/2012
1722845    07/01/2012
1722846    07/01/2012
Name: CRASH DATE, Length: 1722847, dtype: object

In [7]:
crash_times = data["CRASH TIME"]
crash_times

0           8:30
1          14:00
2          14:10
3           0:00
4          17:36
           ...
1722842     9:45
1722843     9:59
1722844     9:40
1722845     9:50
1722846     9:50
Name: CRASH TIME, Length: 1722847, dtype: object